{% extends 'base.html.twig' %}

{% block title %}Hello StartQuizController!{% endblock %}

{% block body %}

<div class="example-wrapper container">
    <table class="table table-bordered">
        {% set counter = 0 %}
        {% for question in quiz.questions %}
            <tr>
                <td colspan="3">{{question.questions}}</td>
            </tr>
            <tr class="question new">
                {% for answer in question.answers %}
                    <td>
                        <button class="btn btn-primary" onclick="check(this, {{ answer.isTrue }})">
                            {{ answer.answers}}
                            {% set counter = counter + 1 %}
                        </button>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <button class="btn btn-primary calculate" onclick="calculate()" disabled="true"> value </button>
</div>
    <script type="text/javascript">
        function check(context,select) {
            let $container = $('.container');
            $(context).css("background-color", select ? 'green': 'red');
            $(context).closest('.question').toggleClass('right', !!select);
            $(context).closest('.question').find('button').prop('disabled', true);
            $(context).closest('.question').removeClass('new');
            if (!$container.find('.question.new').length) {
                $container.find('.calculate').prop('disabled', false);
            }
        }
        function calculate() {
            let $container = $('.container');
            let allLength = $container.find('.question').length;
            let rightLength = $container.find('.question.right').length;
            let wrongLength = allLength - rightLength;
            alert('right:' + rightLength + ', wrong: ' + wrongLength);
        }
    </script>
{% endblock %}
